<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-body text-center">
                <h1>HB1 - Variável no Handlebars</h1>
                <p class="lead" style="color: #9b59b6;">{{message}}</p>
            </div>
        </div>
    </div>
</div>