<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-body text-center">
                <h1>HB2 - Comando #if</h1>
                {{#if showMessage}}
                    <div class="alert alert-success">
                        <strong>{{message}}</strong>
                    </div>
                {{else}}
                    <div class="alert alert-info">
                        A mensagem está oculta porque showMessage é false.
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>