<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-body">
                <h1>HB3 - Comando #each</h1>
                <h3>Tecnologias utilizadas:</h3>
                <ul class="list-group">
                    {{#each items}}
                        <li class="list-group-item">{{this}}</li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</div>