<div class="row">
    <div class="col-md-8 mx-auto">
        <div class="card">
            <div class="card-body">
                <h1>HB4 - Helper de Tecnologias</h1>
                <h3>Tecnologias com suporte ao Node.js:</h3>
                {{{techList technologies}}}
            </div>
        </div>
    </div>
</div>