# Dependencies
node_modules/

# Build output
build/

# Environment variables
.env

# Logs
logs/

# Prisma
prisma/*.db
prisma/*.db-journal

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Debug
npm-debug.log*